---

---

<header>
  <nav>
    <a href="/">Patthapol K.</a>
    <div>
      <a href="/projects">Projects</a>
      <a href="/cv">CV</a>
    </div>
  </nav>
</header>

<style>
  header {
    padding: 1.5rem;
  }
  header nav {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }
  header nav a {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Inter Tight";
    text-decoration: none;
  }
  header nav div {
    display: flex;
    gap: 1.5rem;
  }
  header nav div a {
    font-size: 1rem;
    font-weight: 500;
  }
</style>
